#png {
	margin-top: 140px;
	margin-left: 360px;
}
.shoe {
	margin-top: 0;
	float: left;
	width: 900px;
	height: 400px;
	margin: 15px;
	padding: 0px;
	border: 2px solid black;
	background-image: url("pictures/shoe.png");
}
#svg {
	margin-top: 200px;
	margin-left: 280px;
}
.shirt {
	margin-top: 0;
	float: left;
	width: 900px;
	height: 910px;
	margin: 15px;
	padding: 0px;
	border: 2px solid black;
	background-image: url("pictures/shirt.png");
}
#bezier {
	margin-top: 700px;
	margin-left: 270px;
}
.backpack {
	margin-top: 0;
	float: left;
	width: 900px;
	height: 1213px;
	margin: 15px;
	padding: 0px;
	border: 2px solid black;
	background-image: url("pictures/backpack.png");
}
.title {
	width: 900px;
	margin-top: 60px;
	margin-left: 25%;
	font-size: 40px;
}
a {
	margin-left: 30px;
	color: beige;
}
body {
	background-image: url("pictures/snow.gif");
}
